@font-face {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
	/* box-shadow: 0 0 10px rgba(242,242,242,0.5); /* Параметры тени #f2f2f2*/ */
}

html, body {
	min-width: 1200px;
	min-height: 1750px;
}

a {
	text-decoration: none;
	font-weight: 600;
}

/* /*чтобы картинки не вылазили за пределы родителя
img {
	max-width: 100%;
	height: auto;
} */

/*скрываем ненужный тескт visualle-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button  {
	display: inline-block;
	
	font: inherit; /* шрифт наследуется родителя */
	text-align: center; /* выравнивание текста по центру */
    color: #ffffff;
    vertical-align: middle; /* вертикальное выравнивание текста в строке по центру */
    text-transform: uppercase; /*все символы заглавные*/
    
	font-size: 14px;
    line-height: 21px;
	font-weight: 600; 

    background-color: #81b3d2; 
    border: none;
	box-sizing: border-box;
}

.button:hover /*наведение*/ {
	background-color: #669ec0;
}

.button:active /*нажатие*/{
	background-color: #5496bd;
	opacity: 0.3;
}

.main-header {
	width: 1200px;
	padding: 0;
	margin: 0 auto; 
	box-sizing: border-box;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative; 
	width: 1200px; 
	
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-image: url("../png/layer-main.png");
	background-position: center;
	background-repeat: repeat;
}

.main-header-logo {
	display: flex;
    justify-content: center;
    align-items: flex-start;
	
	width: 138px;
	height: 70px;
	padding: 0;
	
	position: absolute; 
	top: 0; 
	left: 530px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
    width: 530px;
	
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.site-navigation a{
	display: block;
	padding: 15px 20px /* 73px */;
	
	vertical-align: middle;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #766357;
}

.site-navigation a:visited {
	color: #766357;
	font-weight: 400;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.filter {
	width: 1200px;
	height: 217px;
	
	background-image: url("../jpg/background-hotels-m.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.filter-wrapper {	
	margin: 0;
	padding: 29px 73px 0;
	
	display: flex;
    justify-content: space-between;
    align-items: center; 
	flex-direction: row;
	list-style: none;
}

.box {
	margin: 0;
	padding: 0;
	
	display: flex;
    justify-content: space-between;
    align-items: center; 
	flex-direction: row;
	list-style: none;
}

.filter-infrastructure,
.filter-type {
    width: 240px;
}

.filter-infrastructure h3,
.filter-type h3{
	margin: 0;
	padding: 0;
	margin-bottom: 29px;
	
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.infrastructure-list,
.type-list {
	margin: 0;
	padding: 0;
	list-style: none; 	
}

.infrastructure-list li,
.type-list li {
	padding-bottom: 25px;
	color: #ffffff;
}

.infrastructure li:last-child,
.type-list li:last-child {
	padding-bottom: 0;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.checkbox + label:before { /*стили квадрата*/
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 19px;
    height: 19px;
  
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: inherit;
}

.checkbox + label:after { /*стили птички*/
	content: '';
    font-size: 25px;
    position: absolute;
    top: -4px;
    left: 6px;
    color: #ffffff;
}

.checkbox:checked + label:after {
    opacity: 1;
	content: '\2714';
}

.checkbox:disabled + label:after,
.checkbox:disabled + label:before {
	color: #6a6a6a;
}

.filter-range {
    width: 330px;
    margin: 0;
    padding: 0;

    color: #ffffff;
    text-transform: uppercase;
}

.filter-range h3 {
	margin: 0;
	padding: 0;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
  
    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
    padding: 6px 35px;

    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.search {
   width: 1200px;
   min-height: 540px;
   margin: 0;
   padding: 0;
   
  /*  display: block;
    margin: 0 auto; */
   
   background-color: pink; /* временно */
}

.classifieds {
	display: flex;
	justify-content: space-between;
	padding: 0 73px;
	align-items: center;
	
	background-color: white; /* временно */
}

.column {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 528px;
}

.column-1 {
	width: 135px;
	margin: 0;
	margin-right: 30px;
}

.column-2 {
	width: 363px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 26px;
	
	font-size: 12px;
    line-height: 18px;
}

.column-3 {
    position: relative;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	width: 260px;
	margin: 0;
	align-items: center;
	cursor: pointer;
}

.sort-item {
	color: #cacaca;
	text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed #cacaca;; /* Добавляем свою линию */ 
}
.sort-item:hover { /*наведение*/
	color: #81b3d2;
	text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed #81b3d2; /* Добавляем свою линию */ 
}

.sort-item:active { /*нажатие*/
	color: #000000;
}

.sort-item:focus { /*??????*/
	color: #81b3d2;
}

.classifieds h3 {
	margin: 0;
	padding: 0;
	
    font-size: 19px;
    line-height: 23px;
}

.up-dir {
	position: absolute;
	top: -5px;
	right: 23px;
	
	width: 11px;
	height: 10px;
	
	background-image: url("../svg/up-dir.svg"); 
	background-position: center;
	background-repeat: no repeat;
	
	cursor: pointer;
}

.up-dir:hover { /*наведение*/
	background-image: url("../svg/icon-up-dir.svg");
}

.up-dir:active { /*нажатие*/
	background-image: url("../svg/up-p.svg");
}

.down-dir {
	position: absolute;
	top: -5px;
	right: 0;
	
	width: 11px;
	height: 10px;
	
	background-image: url("../svg/down-dir.svg"); 
	background-position: center;
	background-repeat: no repeat;
	
	cursor: pointer;
}

.down-dir:hover { /*наведение*/
	background-image: url("../svg/icon-down-dir.svg");
}

.down-dir:active { /*нажатие*/
	background-image: url("../svg/down-p.svg"); 
}


