@font-face {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
}

html, body {
	min-width: 1200px;
	min-height: 1750px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font-weight: 600;
}

/* /*чтобы картинки не вылазили за пределы родителя
img {
	max-width: 100%;
	height: auto;
} */

/*скрываем ненужный тескт visualle-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button  {
	display: inline-block;
    margin-right: 15px;
	
	font: inherit;
	text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
	font-size: 14px;
    line-height: 21px;
	font-weight: 500; /*или 600?*/

    background-color: #81b3d2; 
    border: none;
}

.button:hover /*наведение*/ {
	background-color: #669ec0;
}

.button:active /*нажатие*/{
	border-color: #5496bd; /*или убрать border*/
	background-color: #5496bd;
	box-shadow: 0 -3px 3px 0 #5496bd;
	opacity: 0.3;
}

.main-header {
	width: 1200px;
	padding: 0 40px;
	margin: 0 auto; 
	box-sizing: border-box;
	background-color: #ffffff;
	/*background-image: url("../img/);
	background-position: top center;
	background-repeat: no-repeat;*/

}

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative; 
	width: 1200px; 
	
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-image: url("../jpg/layer61.jpg");
}

.main-header-logo {
	display: flex;
    justify-content: center;
    align-items: flex-start;
	
	width: 138px;
	height: 70px;
	padding: 0;
	
	position: absolute; 
	top: 0; 
	left: 530px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
    width: 530px;
	
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	
}

.site-navigation a{
	display: block;
	padding: 15px 20px /* 73px */;
	
	vertical-align: middle;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #766357;
}

.site-navigation a:visited {
	color: #766357;
	font-weight: 400;
}

.intro {
	width: 1200px;
	height: 510px;
	
	background-image: url("../jpg/background-m.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.intro-wrapper {
	display: flex;
    justify-content: center;
    align-items: center; 
	flex-direction: column;
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.intro-1 {
	margin-top: 76px;
}

.intro-2 {
	margin-top: 5px;
}

.intro-3 {
	margin-top: 52px;
}

.intro-4 {
	margin-top: 56px;
}

.intro-5 {
	margin-top: 11px;
}










