@font-face {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(242,242,242,0.5); /* Параметры тени #f2f2f2*/
}

html, body {
	min-width: 1200px;
	min-height: 1750px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font-weight: 600;
}

/* /*чтобы картинки не вылазили за пределы родителя
img {
	max-width: 100%;
	height: auto;
} */

/*скрываем ненужный тескт visualle-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button  {
	display: inline-block;
	
	font: inherit; /* шрифт наследуется родителя */
	text-align: center; /* выравнивание текста по центру */
    color: #ffffff;
    vertical-align: middle; /* вертикальное выравнивание текста в строке по центру */
    text-transform: uppercase; /*все символы заглавные*/
    
	font-size: 14px;
    line-height: 21px;
	font-weight: 600; 

    background-color: #81b3d2; 
    border: none;
	box-sizing: border-box;
}

.button:hover /*наведение*/ {
	background-color: #669ec0;
}

.button:active /*нажатие*/{
	background-color: #5496bd;
	opacity: 0.3;
}

.main-header {
	width: 1200px;
	padding: 0 40px;
	margin: 0 auto; 
	box-sizing: border-box;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative; 
	width: 1200px; 
	
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-image: url("../png/layer-main.png");
	background-position: center;
	background-repeat: repeat;
}

.main-header-logo {
	display: flex;
    justify-content: center;
    align-items: flex-start;
	
	width: 138px;
	height: 70px;
	padding: 0;
	
	position: absolute; 
	top: 0; 
	left: 530px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
    width: 530px;
	
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	
}

.site-navigation a{
	display: block;
	padding: 15px 20px /* 73px */;
	
	vertical-align: middle;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #766357;
}

.site-navigation a:visited {
	color: #766357;
	font-weight: 400;
}

.intro {
	width: 1200px;
	/* height: 510px; */
	
	background-image: url("../jpg/background-m.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.intro-wrapper {
	display: flex;
    justify-content: center;
    align-items: center; 
	flex-direction: column;
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.intro-1 {
	margin-top: 76px;
}

.intro-2 {
	margin-top: 8px;
	
	display: flex;
	align-items: center;
}

.intro-3 {
	margin-top: 50px;
}

.intro-4 {
	margin-top: 55px;
}

.intro-5 {
	margin-top: 17px;
}

.advantages-intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction:  column;
	text-align:  center;
	margin: 0;
	padding: 0;
	
	background-image: url("../png/layer-main.png");
	background-position: center;
	background-repeat: repeat;
}
 
.advantages-intro h3 {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	
	font-size: 21px;
	line-height: 26px;
	margin: 62px auto 0 auto;
 }
 
 .advantages-intro p {
	font-size: 14px;
	line-height: 26px;
	margin: 32px auto 53px auto;
 }
 
.advantages-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction:  column;
	margin: 0;
	padding: 0;
	
	background-image: url("../png/layer-main.png");
	background-position: center;
	background-repeat: repeat;
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction:  row;
	margin: 0;
	padding: 0;
	width: 1200px;
	min-height: 256px;
}

.advantages-1 {
	width: 400px; 
	background-color: #81b3d2;
	color: #ffffff;
	text-align:  center;
}

.advantages-1 h3 {
	margin: 0;
	margin-top: 45px;
	
	font-size: 18px;
	line-height: 21px;
}

.advantages-1 p {
	margin: 0;
	margin-top: 25px;
	
	font-size: 14px;
	line-height: 21px;
}

.advantages-icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding-top: 55px;
	padding-bottom: 85px;
	width: 1200px;
	
	text-align:  center;
}

.advantages-icon h3 {
	margin: 0;
	margin-top: 30px;
	font-size: 18px;
	line-height: 21px;
}

.advantages-icon p {
	margin: 0;
	margin-top: 30px;
	font-size: 14px;
	line-height: 21px;
}

.advantages-2 {
	width: 400px; 
	background-color: #81b3d2;
	color: #ffffff;
	text-align:  center;
}

.advantages-2 h3 {
	margin: 0;
	margin-top: 45px;
	
	font-size: 18px;
	line-height: 21px;
}

.advantages-2 p {
	margin: 0;
	margin-top: 25px;
	
	font-size: 14px;
	line-height: 21px;
}

.advantages-icon.non{
	margin: 0;
	padding: 0;
	min-height: 256px;
	background-image: url("../png/layer2.png");
}

.advantages-3 h3,
.advantages-4 h3,
.advantages-5 h3 {
	margin: 0;
	margin-top: 50px;
	font-size: 18px;
	line-height: 21px;
}

.advantages-3 p,
.advantages-4 p,
.advantages-5 p {
	margin: 0;
	margin-top: 30px;
	font-size: 14px;
	line-height: 21px;
}

.main-footer.container {
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	
	background-image: url("../png/layer-main.png");
	background-position: center;
	background-repeat: repeat;
}

.footer-search {
	width: 1200px;
	min-height: 291px;
	text-align: center;
}
 
.footer-search h2 {
	margin: 0;
	margin-top: 55px;
	
	font-size: 30px;
	line-height: 36px;
 }
 
.footer-search p {
	margin: 0;
	margin-top: 35px;
	margin-bottom: 50px;
	
	font-size: 14px;
	line-height: 21px;
 }
 
.button-search {
    background-color: #766357;
	padding: 30px 140px;
	border: 1px solid #766357;
	font-size: 21px;
	line-height: 26px;
 }
 
.button-search:hover /*наведение*/ {
	background-color: #604e43;
}

.button-search:active /*нажатие*/{
	background-color: #503e33;
	/* opacity: 0.3; */
	color: rgba(255, 255, 255, 0.3); /* прозрачность 30% для белого шрифта текста */
}

.footer-map {
	margin: 0;
	padding: 0;
	width: 1200px;
	min-height: 593px; 
	background-image: url("../png/map.png");
	background-position: center;
	background-repeat: no-repeat;
}

.footer-navigation {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	
	background-image: url("../png/layer-footer.png");
	width: 1200px;
	min-height: 120px;
	
	margin: 0;
	padding: 0;
	margin-top: 473px;
	list-style: none;
	text-align:  center;
}

.visit h4 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px; 
	margin: 0 auto;
	padding: 0;
	
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 46px;
	
	background-color: #81b3d2;
	
	background-repeat: no-repeat;
	background-position: center;
}

.social-button:hover { /*наведение*/
	background-color: #669ec0;
}

.social-button:active { /*нажатие*/
	opacity: 0.3;
	background-color: #5496bd;
}

.social-tw {
	background-image: url("../svg/twitter.svg");
}

.social-fb {
	background-image: url("../svg/fb-icon.svg");
}

.social-yb {
	background-image: url("../svg/youtube.svg");
} 

.html-academy {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 200px; 
	margin: 0 auto;
	padding: 0;
	
	list-style: none;
}

.social-button-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 114px;
	height: 39px;
}

.social-ac {
	background-image: url("../svg/logo-htmlacademy.svg");
}


/*Всплывающая форма*/

.modal {
	position: fixed;
	
	color: #000000;
	background-color: #ffffff;
	background-image: url("../jpg/layer-modal.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
} 

.modal-search {
	top: 50%;
	left: 50%;
	/* display: none; /*скрываем*/ 
	padding: 55px;
	width: 460px;
	transform: translate(-50%, -50%); /*центрируем по центру модальное окно*/
}

.search-form .check{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:  center;
	
	margin: 0;
	margin-bottom: 30px;
}

.search-form input[type="date"],
.search-form input[type="number"] {
	box-sizing: border-box; 
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}

.search-form input[type="date"] {
	width: 346px;
	padding: 6px 12px;
	padding-right: 40px;
}

.search-form input[type="number"] {
	width: 114px;
	padding: 6px 35px;
	text-align: center;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #f2f2f2;
}

.search-icon-check {   
	background-image: url("../svg/calendar.svg"); /* поменять иконку на серую */
	background-position: 317px center;
	background-repeat: no-repeat;
}

.search-icon-check:hover { /*наведение*/
    background-image: url("../svg/calendar.svg"); 
}

.search-icon-check:active { /*нажатие*/
    background-image: url("../svg/calendar.svg"); /* поменять иконку на голубую */
}

.amount-icon {  
}

.search-form .half-width {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:  center;
	margin-bottom: 54px;
}

.search-form .button {
	width: 100%;
	margin-right: 0;
	
	padding: 16px 195px;
}



